$body-color: white;
$width: 800px;
$margin: 60px;

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: $body-color;
  background-color: black;
}
h1 {
  font-size: 4rem;
  font-weight: 400;
}
p {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: $margin;
  color: #a3a3a3;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $width;
  margin: auto;
  background-color: #262626;
  padding: 20px;
  img {
    margin-right: 10px;
    width: 150px;
    cursor: pointer;
  }
}
.stack-detail {
  margin: auto;
  margin-top: $margin;
  width: $width;
  line-height: 2rem;
}